body {
    background-color: #000000;
}


 h1,  h2 , h3,  h4,  h5,  h6,  p{
    font-family: 'Alegreya Sans', sans-serif;
}

 .about-me {
    font-family: 'Alegreya Sans', sans-serif;
    margin: 30px auto;
    max-width: 1000px;
    text-align: justify;
}

 .about-me p {
    font-size: 20px;
    line-height: 1.42;
    margin: 30px auto;
}


 .about-me img{
    display: block;
    position: relative;
    margin: 10px auto;
}

.social-links{
    text-align: center;
}

.social-links .linked-in{
    font-size:37px;
}


.social-links a {
    text-decoration: none;
    font-size: 28px;
    color:#FFFFFF;
}
2 {
    background-color: #ffffff;
}

2 .about{
    font-family: 'Alegreya Sans', sans-serif;
    margin:0px auto;
    font-size: 17px;
    text-align: justify;
    max-width:1000px;
}
2 .about .title-transition-sec h1{
    height: 60px;
    width: 300px;
    margin: -30px auto;
    background-color: #FFFFFF;
    position: relative;
    display: block;
    font: #000000;
    border: 2px solid #000000;
    border-radius: 12px;
}

2 .about .content {
    margin-top: 60px;
}
2 .about h1{
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
}

2 .about h4{
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
    font-size: 24px;
}

2 .about p {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
    margin: 30px auto;
    line-height: 1.42;
    padding:0 30px;
}
.material-icons {
    font-size:40px;
    margin-top:5px;
}

@media (min-width: 1020px) {
2 .about{
        width: 950px;
        margin-right: auto;
        margin-left: auto;
    }
 .social-links {
    margin-left:65px;
}
}
@media (min-width: 750px)and(max-width: 1020px){
2 .about {
        width: 850px;
        margin-right: auto;
        margin-left: auto;
    }
2 .about p{
        padding:0 60px;
     }
 .about-me p {
    line-height: 1.142;
    font-size: 14px;
}
 .social-links {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
}
@media (min-width: 300px) and (max-width: 749px){
    {
        padding:45px 10px;
    }
     h6 {
        font-size: 8px;
    }
     .about-me p{
        line-height: 150%;
        font-size: 15px;
        }
      .about-me img{
        max-width: 100%;
     }
     2 .about p{
        padding:0 30px;
        font-size:14px;
        line-height: 150%;
     }   
}
