body {
    background-color: #eeeeee;
}
.navbar-uncoverMed {
	background-color: #ffffff;
	border:1px solid #e7e7e7;
	height:55px;
	font-size:20px;
	color:#777;
}

.cover {
	background-color:#000;
	background-image: url('../img/umlogo.jpg');
	background-size:cover;
	background-position: center center;
	width:100%;
	height: 660px;
	overflow: auto;
	margin-top:-70px;
}

nav a{
	color:#000;
}

.brand-cover {
	margin:0px auto;
	text-align: center;
}
.brand-cover .brand {
	font-size:30px;
}

.navbar-links{
    float: left;
    display: block;
    text-align: center;
    margin-left: 70px;
}
.navbar-links li{
	display:inline-block;
	margin:0 25px;
}

.navbar-links a{
	margin:0px 25px;
	color:#000;
}

.btn-uncovermed {
	background-color: #000;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
}

.main-content {
	margin:30px auto;
}

.main-content a{
    color:#000;
}

.main-content a:hover{
    text-decoration: none;
}

.main-presentation {
    margin-top: 50px;
    margin-bottom:50px;
    border-radius: 6px;
    padding-top: 15px;
    padding-bottom: 20px;
    min-height: 410px;
}

.main-presentation h2{
    display: block;
    height:70px;
}

.main-presentation:hover {
	background-color:#2196f3;
	box-shadow: -1px 6px 10px rgba(0, 0, 0, 0.33);
}

.main-presentation img {
	width:200px;
    margin-bottom:40px;
	box-shadow: 1px 8px 30px #000;
}

.main-presentation p {
    width:75%;
    margin:20px auto;
}

.article-feature {
    background-color: #fff;
    box-shadow: -1px 6px 10px rgba(0, 0, 0, 0.33);
    display: block;
    margin:10px auto;
    width:400px;
    height: 400px;
    border-radius: 6px;
    border:1px solid #000;
    overflow: auto;
}

.article-feature h4{
    text-align: center;
}
.article-feature p{
    font-size:13px;
    text-align: justify;
    margin:20px 15px 5px 15px;
}
.article-feature img{
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

footer {
    height: 100px;
    background-color: #333;
    color:#fff;
    clear:both;
    bottom:0;
    left:0;
    right:0;
    position: relative:;
}

.credits {
    padding-top:1px;
}