body {
    background-color: #eeeeee;
}
.navbar-uncoverMed {
	background-color: #ffffff;
	border:1px solid #e7e7e7;
	height:55px;
	font-size:20px;
	color:#777;
}

.cover {
	background-color:#000;
	background-image: url('../img/umlogo.jpg');
	background-size:cover;
	background-position: center center;
	width:100%;
	height: 660px;
	overflow: auto;
	margin-top:-70px;
}

nav a{
	color:#000;
}

.brand-cover {
	margin:0px auto;
	text-align: center;
}
.brand-cover .brand {
	font-size:30px;
}

.navbar-links{
    float: left;
    display: block;
    text-align: center;
    margin-left: 70px;
}
.navbar-links li{
	display:inline-block;
	margin:0 25px;
}

.navbar-links a{
	margin:0px 20px;
	color:#000;
}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right:15px;
}

.btn-uncovermed {
	background-color: #000;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
}

.main-content {
	margin:30px auto;
}

.main-content a{
    color:#000;
}

.main-content a:hover{
    text-decoration: none;
}

.main-presentation {
    margin-top: 50px;
    margin-bottom:50px;
    border-radius: 6px;
    padding-top: 15px;
    padding-bottom: 20px;
    min-height: 410px;
}

.main-presentation h2{
    display: block;
    height:70px;
}

.main-presentation:hover {
	background-color:#2196f3;
	box-shadow: -1px 6px 10px rgba(0, 0, 0, 0.33);
}

.main-presentation img {
	width:200px;
    margin-bottom:40px;
	box-shadow: 1px 8px 30px #000;
}

.main-presentation p {
    width:75%;
    margin:20px auto;
}

.article-feature {
    background-color: #fff;
    box-shadow: -1px 6px 10px rgba(0, 0, 0, 0.33);
    display: block;
    margin:10px auto;
    width:400px;
    height: 400px;
    border-radius: 6px;
    border:1px solid #000;
    overflow: auto;
}

.article-feature h4{
    text-align: center;
}
.article-feature p{
    font-size:13px;
    text-align: justify;
    margin:20px 15px 5px 15px;
}
.article-feature img{
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

footer {
    height: 100px;
    background-color: #333;
    color:#fff;
    clear:both;
    bottom:0;
    left:0;
    right:0;
    position: relative:;
}

.credits {
    padding-top:1px;
}
.fix-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}
@media (min-width: 1145px) and (max-width:1200px){
    .navbar-links li {
        margin:0 20px;
    }
}
@media (min-width: 1125px) and (max-width:1145px){
    .navbar-links li {
        margin:0 20px;
    }
}
@media (min-width: 1101px) and (max-width:1125px){
    .navbar-links li {
        margin:0 18px;
    }
}
@media (min-width: 1026px) and (max-width:1100px){
    .navbar-links li {
        margin:0 8px;
    }
}

@media (min-width: 900px) and (max-width:1025px){
    .cover{
        background-color: #000;
        background-image: url(../img/umlogo.jpg);
        background-size: cover;
        background-position:center center;
        width: 100%;
        height: 708px;
        overflow: auto;
        margin-top: 0;
    }
    .navbar-social{
        margin-right:15px;
    }
    .navbar-links{
        font-size:20px;
        margin-left:50px;
    }
    .navbar-links li{
        margin:0;
    }
    .article-feature {
        width:300px;
        height: auto;
    }
}
@media (min-width: 737px) and (max-width:900px){
    .cover{
        background-color: #000;
        background-image: url(../img/umlogo.jpg);
        background-size: cover;
        background-position:center center;
        width: 100%;
        height: 575px;
        overflow: auto;
        margin-top: 0;
    }
    .navbar-social{
        margin-top:0;
    }
    .navbar{
        position:fixed;
        top:0;
        right:0;
        left:0;
    }
    .navbar-links{
        font-size: 16px;
        margin-left:30px;
    }
    .navbar-links li{
        margin:2px -15px;
    }
    .article-feature {
        width:300px;
        height: auto;
    }
}
@media (min-width: 415px) and (max-width:736px){
    .cover{
        background-color: #000;
        background-image: url(../img/umlogo.jpg);
        background-size: cover;
        background-position:center center;
        width: 100%;
        height: 400px;
        overflow: auto;
        margin-top: 0;
    }
    .navbar-social{
        margin-top:-80px;
    }
    .navbar-links li{
        display:block;
        margin: 0 auto;
    }
    .article-feature {
        width:300px;
        height: auto;
    }
}
@media (min-width: 320px) and (max-width:414px){
    .cover{
        background-color: #000;
        background-image: url(../img/umlogo.jpg);
        background-size: cover;
        background-position:center center;
        width: 100%;
        height: 250px;
        overflow: auto;
        margin-top: 0;
    }
    .navbar-uncoverMed {
        margin-right:15px;
    }
    .navbar-nav{
        float:left;
    }
    .navbar-links{
        margin-left:0;
        float:inherit;
    }
    .navbar-social{
        margin-top:-75px;
    }
    .navbar-toggle {
        background-color:#000;
    }
    .navbar-toggle .icon-bar {
        background-color:#ffffff;
    }
    .navbar-collapse{
        background-color:rgba(255, 255, 255, 0.9);
        z-index: 10000;
    }
    .article-feature {
        width:200px;
        height: auto;
    }

}