.navbar {
    margin-bottom:0;
}
.navbar-solid{
    background-color:#fff;
    border-bottom:1px solid #e0e0e0;
    color:#000;
    font-weight:bold;
}

.navlinks-display {
    display:block !important;
}
.navbar-links{
    display:none;
}

.top-banner-img {
    position: relative;
    width: 100%;
    height: 400px;
    top:0;
    left: 0;
}

.top-banner-img .banner-img {
    height: 400px;
    position: fixed;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
.compact {
    max-width: 350px;
    margin:10px auto;
}
.publish-space {
    position: relative;
    background-color:#ffffff;
}

.title {
    text-align: center;
    font-size: 45px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom:0px;
    max-width: 900px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 17px;
}
.publish-space h4{
    font-size: 36px;
}
.publish-space h5{
    font-size: 28px;
}

.publish-space .article {
    max-width: 90%;
    margin-top:0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
}

.publish-space .article p{
    text-align: justify;
    font-size: 20px;
    font-family: 'Alegreya Sans', sans-serif;
    margin:30px auto;
}

.publish-space .indent {
    margin-left: 80px;
}


blockquote {
    font-size: 25px;
    font-family: 'Alegreya Sans', sans-serif;
}

.img-right {
    float: right;
    margin-left: 20px;
}

.surgery-img {
    margin-top: 10px;
}

.share-buttons {
    display: block;
    text-align: center;
}
.share-buttons a{
    display: block;
    position: relative;
    vertical-align: middle;
}

.share-buttons .btn-fb {
    background-color: #3B5998;
    text-transform: uppercase;
}

.share-buttons .btn-tweet {
    background-color:#55acee;
    text-transform: uppercase;
}

.share-buttons .btn-linkedin {
    background-color: #0077B5;
    text-transform: uppercase;
}

.share-buttons a, .share-button a:hover, .share-button a:focus {
    color: #ffffff;
}

.subscription .btn-subscribe {
    display: block;
    width: 25%;
    margin:15px auto;
    background-color: #9e9e9e;
    text-transform:uppercase;
}
.subscription .btn-round.btn-lg {
    padding:15px 30px;
}

.citation {
    margin-top:30px;
    margin-bottom: 80px;
}
.citation p{
    font-size: 10px;
}

.no-display{
    display: none;
}

.panel{
    position: relative;
    margin-top:30px;
}

.panel-fixed{
    position:fixed;
    top:60px;
}

#ch1, #ch2, #ch3, #ch4, #ch5, #ch6, #ch7{
    text-decoration: none;
    color:#000;
}
.highlight{
    background-color:#bbdefb;
    color:white;
}
.highlight a{
    text-decoration: none;
}
.navbar-toggle .icon-bar{
    background-color:#000000;
}

.navbar-toggle{
    border: 1px solid #9e9e9e;
    margin-right:30px;
}
.remove-panel{
    display:none;
}
@media(max-width: 990px){
    .panel{
        display:none;
    }
    .navbar-links{
        display:block;
    }
}
@media (min-width: 0px) and (max-width: 768px){
.publish-space .article {
    max-width: 100%;
    margin-top:0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    }
.share-buttons {
    display: block;
    text-align: center;
    }
}

@media (min-width: 1145px) and (max-width:1200px){
    .navbar-links li {
        margin:0 20px;
    }
}
@media (min-width: 1125px) and (max-width:1145px){
    .navbar-links li {
        margin:0 20px;
    }
}
@media (min-width: 1101px) and (max-width:1125px){
    .navbar-links li {
        margin:0 18px;
    }
}
@media (min-width: 1026px) and (max-width:1100px){
    .navbar-links li {
        margin:0 8px;
    }
}

@media (min-width: 900px) and (max-width:1025px){
    .cover{
        background-color: #000;
        background-image: url(../img/umlogo.jpg);
        background-size: cover;
        background-position:center center;
        width: 100%;
        height: 708px;
        overflow: auto;
        margin-top: 0;
    }
    .navbar-social{
        margin-right:15px;
    }
    .navbar-links{
        font-size:17px;
        margin-left:40px;
    }
    .navbar-links li{
        margin:0;
    }
    .publish-space .article {
    max-width: 95%;
    margin-top:0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    }

}
@media (min-width: 737px) and (max-width:900px){
    .cover{
        background-color: #000;
        background-image: url(../img/umlogo.jpg);
        background-size: cover;
        background-position:center center;
        width: 100%;
        height: 575px;
        overflow: auto;
        margin-top: 0;
    }
    .navbar-social{
        margin-top:0;
    }
    .navbar{
        position:fixed;
        top:0;
        right:0;
        left:0;
    }
    .navbar-links{
        font-size: 16px;
        margin-left:30px;
    }
    .navbar-links li{
        margin:2px -15px;
    }
    .article-feature {
        width:300px;
        height: auto;
    }
    .publish-space .article {
    max-width: 95%;
    margin-top:0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    }
}
@media (min-width: 415px) and (max-width:736px){
    .cover{
        background-color: #000;
        background-image: url(../img/umlogo.jpg);
        background-size: cover;
        background-position:center center;
        width: 100%;
        height: 400px;
        overflow: auto;
        margin-top: 0;
    }
    .navbar-social{
        margin-top:-80px;
    }
    .navbar-links li{
        display:block;
        margin: 0 auto;
    }
}
@media (min-width: 320px) and (max-width:414px){
    h1{
        font-size: 36px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 12px;
    }
    .cover{
        background-color: #000;
        background-image: url(../img/umlogo.jpg);
        background-size: cover;
        background-position:center center;
        width: 100%;
        height: 250px;
        overflow: auto;
        margin-top: 0;
    }
    .navbar-uncoverMed {
        margin-right:15px;
    }
    .navbar-nav{
        float:left;
    }
    .navbar-links{
        margin-left:0;
        float:inherit;
    }
    .navbar-social{
        margin-top:-75px;
    }
    .navbar-toggle .icon-bar {
        background-color:#000000;
    }
    .navbar-collapse{
        background-color:rgba(0, 0, 0, 0.69);
        z-index: 10000;
    }
    .publish-space .article p{
        font-size:17px;
        line-height: 150%;
    }
    .subscription .btn-subscribe{
        width: 100%;
    }
}