    <main>
        <div class="container display-area">
          <!-- Main Content Display Area -->
          <div class="row">
            <!-- ===============BUTTONS======================= -->
            <div class="col s12 m3 l3 button-space">
              <ul class="buttons">
                  <li>
                    <a id="econBtn2" class="btn-floating btn-large waves-effect waves-light  deep-orange darken-3" >
                      <img src="assets/img/white-economic-investment.svg" class="responsive-img icon-img">
                    </a>
                    <p>Economics</p>
                  </li>
                  <li>
                    <a id="techBtn2" class="btn-floating btn-large waves-effect waves-light grey darken-4" >
                      <img src="assets/img/white-med-technology-icon.svg" class="responsive-img icon-img">
                    </a>
                    <p>Tech</p>
                  </li>
                  <li>
                    <a id="devBtn2" class="btn-floating btn-large waves-effect waves-light grey darken-4" >
                      <img src="assets/img/white-intelligence-icon.svg" class="responsive-img icon-img">
                    </a>
                    <p>Improvement</p>
                  </li>
                  <li>
                    <a id="premedBtn2" class="btn-floating btn-large waves-effect waves-light grey darken-4" >
                      <img src="assets/img/white-student-icon.svg" class="responsive-img icon-img">
                    </a>
                    <p>Premed</p>
                  </li>
              </ul>
            </div>
            <!-- =======Buttons for Mobile only======= -->
            <div class="col s12 m3 l3 button-space-mobile">
              <div class="container">
                  <div class="row">
                    <div class="col s3">
                      <a id="econBtn" class="btn-floating btn-large waves-effect waves-light  deep-orange darken-3" >
                        <img src="assets/img/white-economic-investment.svg" class="responsive-img icon-img">
                      </a>
                    <p>Economics</p>
                  </div>
                  <div class="col s3">
                    <a id="techBtn" class="btn-floating btn-large waves-effect waves-light grey darken-4" >
                      <img src="assets/img/white-med-technology-icon.svg" class="responsive-img icon-img">
                    </a>
                    <p>Tech</p>
                  </div>
                  <div class="col s3">
                    <a id="devBtn" class="btn-floating btn-large waves-effect waves-light grey darken-4" >
                      <img src="assets/img/white-intelligence-icon.svg" class="responsive-img icon-img">
                    </a>
                    <p>Improvement</p>
                  </div>
                  <div class="col s3">
                    <a id="premedBtn" class="btn-floating btn-large waves-effect waves-light grey darken-4" >
                      <img src="assets/img/white-student-icon.svg" class="responsive-img icon-img">
                    </a>
                    <p>Premed</p>
                  </div>
                  </div>
              </div>
            </div>
            <!-- ===========ECONOMICS Content================ -->
            <div id="econContent" class="col s12 m9 l9 ">
              <div id="topic-title" class="center-align"><h1>Economics</h1>
              </div>
              <a href="article-price-forces.html" class="content">
                <div class="card center-align">
                  <div class="card-image">
                      <img src="assets/img/expensive-medium.jpg" style="height:390px">
                    <span class="main-article-title">The Forces That Shape the Most Expensive Health System in the World</span>
                  </div>
                </div>
              </a>
              <a href="article-AMA.html">
                <div class="card horizontal center-align">
                  <div class="card-image horizontal-card-img">
                      <img src="assets/img/locked-door-medium.jpg">

                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                      <h3>Why the AMA Hurts Medicine: A Case Study</h3>
                      <p>A look at how the AMA's tight control of the medical profession can constrict progress and innovation.</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <!-- ===========TECH Content================ -->
            <div id="techContent" class="col s12 m9 l9 ">
              <div id="topic-title" class="center-align"><h1>Technology</h1>
              </div>
              <a href="article-algorithms.html">
                <div class="card center-align">
                  <div class="card-image">
                      <img src="assets/img/algorithms-medium.jpg">
                    <span class="main-article-title">The Subtle and Remarkable Power of Medical Algorithms</span>
                  </div>
                </div>
              </a>
            </div>
            <!-- ===========DEVELOPMENT Content================ -->
            <div id="devContent" class="col s12 m9 l9 ">
              <div id="topic-title" class="center-align"><h1>Improvement & Growth</h1>
              </div>
              <a href="article-identity.html">
                <div class="card center-align">
                  <div class="card-image">
                      <img src="assets/img/identity-medium.jpeg">
                    <span class="main-article-title">The Identity Trap in Medicine</span>
                  </div>
                </div>
              </a>
            </div>
            <!-- ===========PRE-MED Content================ -->
            <div id="premedContent" class="col s12 m9 l9 ">
              <div id="topic-title" class="center-align"><h1>Pre-Meds</h1>
              </div>
              <a href="article-illusions-premedicine.html">
                <div class="card center-align">
                  <div class="card-image">
                      <img src="assets/img/arrow-up-medium.jpeg">
                    <span class="main-article-title">Illusions When Choosing Medicine</span>
                  </div>
                </div>
              </a>
            </div><!-- end content area -->
          </div>
        </div>
    </main>