/*==========Navigation Bar Features==================*/
@media only screen and (min-width: 601px){
	nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
		height: 64px;
	}
	nav .brand-logo{
		font-size:2.5rem;
		color:#fff;
	}
}
body{
    background-color: white;
    background-image: none!important;
}

nav{
	height: 64px;
    position: fixed;
    top:0;
    right:0;
    left:0;
    z-index: 1000;
    box-shadow: none!important;
}
nav .brand-logo{
	color:white;
}
nav a{
	color:white;
}

nav ul a{
	color:white;
}


/*=============Banner Wallpaper================*/
.top-banner-img{
	position:relative;
	width:100%;
	height: 400px;
	top:0;
	left:0;
	right:0;
}
.top-banner-img img{
	width: 100%;
    height: 400px;
    top: 0;
    position: relative;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
}
/*======Article========= */

.article-title{
	text-align: center;
	font-size: 45px;
	margin:20px auto 0 auto;
	max-width: 900px;
}
/*=About Author=*/
.author{
    width: 350px;
    display: block;
    margin:20px auto;
}
.author h2{
    font-size:16px;
    font-family: 'Poiret One', cursive;
    margin:0 auto;
}
.author hr{
    margin: 5px auto;
}
/*===Writing Space (publish-space)*/
.publish-space h4{
    font-size: 32px;
}
.publish-space h5{
    font-size: 24px;
}


.publish-space .article p{
    text-align: justify;
    font-size: 20px;
    font-family: 'Alegreya Sans', sans-serif;
}

.publish-space .indent {
    margin-left: 50px;
}


blockquote {
    font-size: 25px;
    font-family: 'Alegreya Sans', sans-serif;
}
/*==citation space==*/
.citation {
    margin-top:0;
    margin-bottom: 30px;
}
.citation h3{
    font-size: 24px;
}
.citation p{
    font-size: 10px;
}
/*======share buttons======*/
.share-buttons {
    display: block;
    text-align: center;
}
.share-buttons a{
    display: block;
    position: relative;
    vertical-align: middle;
}

.share-buttons .btn-fb {
    background-color: #3B5998;
    text-transform: uppercase;
}

.share-buttons .btn-tweet {
    background-color:#55acee;
    text-transform: uppercase;
}

.share-buttons .btn-linkedin {
    background-color: #0077B5;
    text-transform: uppercase;
}

.share-buttons a, .share-button a:hover, .share-button a:focus {
    color: #ffffff;
}
/*=====Table of Contents=====*/
.highlight{
    border-left: 5px solid red;
}
.highlight a{
    text-decoration: none;
}
.panel-fixed{
    position:fixed;
    top:60px;
}
.table-of-contents a.active, .table-of-contents a:hover {
        border-left: none !important;
        font-weight: 300;
        padding-left:20px;
}
/*Comment Section*/
.userName{
    font-weight: 600;
    font-size:18px;
}
.commentDiv{
    padding:15px !important;
    border: 1px solid #EEEEEE;
    border-radius: 6px;
}
.commentSection{
    margin-left: 15px;
    background-color:#EEEEEE;
    border-radius: 3px;
}