h1,h2,h3,h4,h5,h5{
    font-weight: 500;
}
@media only screen and (min-width: 993px){
    .container {
        width: 85%;
    }
}
/*==========Navigation Bar Features==================*/

body{
    background-color: white;
    background-image: none!important;
}

nav{
    display: block !important;
	height: 64px;
    position: fixed;
    top:0;
    right:0;
    left:0;
    z-index: 1000;
    box-shadow: none!important;
}
nav .brand-logo{
	display:none;
}
nav a{
	color:white;
}

nav ul a{
	color:white;
}
.side-nav a{
    color:#000 !important;
}
@media only screen and (min-width: 312px){
    .nav-icon{
        margin-top:12px;
    }
}
@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 64px;
    }
    .nav-icon{
        margin-top:0px;
    }

}
@media only screen and (min-width: 992px){
    nav .brand-logo{
        display:block !important;
        font-size:2.5rem;
        color:#fff;
    }
    .nav-icon{
        margin-top:0px;
    }
}
/*=============Banner Wallpaper================*/
.top-banner-img{
	position:relative;
	width:100%;
	top:0;
	left:0;
	right:0;
}
.top-banner-img img{
	width: 100%;
    height: 400px;
    top: 0;
    position: relative;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
}
@media (min-width: 0px) and (max-width: 737px){
    .top-banner-img{
        position:relative;
        width:100%;
        top:0;
        left:0;
        right:0;
    }
    .top-banner-img img{
        height: 175px;
    }
}
/*======Article========= */

.article-title{
	text-align: center;
	font-size: 45px;
	margin:20px auto 0 auto;
	max-width: 900px;
}
/*=About Author=*/
.author{
    display: block;
    margin:20px auto;
}
.author h2{
    width: 40%;
    font-size: 14px;
    font-family: 'Poiret One', cursive;
    margin: 0 auto;
    border-top: 1px solid #9E9E9E;
    border-bottom: 1px solid #9E9E9E;
    padding: 5px 0;
}
@media (min-width: 0px) and (max-width: 737px){
    h1{
        font-size: 2.2rem;
    }
    .author h2{
        font-size: 12px;
    }
    .fa{
        display:block !important;
    }
}

/*===Writing Space (publish-space)*/
.publish-space h4{
    font-size: 32px;
}
.publish-space h5{
    font-size: 24px;
}

.publish-space .article p{
    text-align: justify;
    font-size: 20px;
    font-family: 'Alegreya Sans', sans-serif;
}

.publish-space .indent {
    margin-left: 50px;
}

.img-right {
    float: right;
    margin-left: 20px;
}
a.scrollspy{
    color:#000;
}

blockquote {
    font-size: 25px;
    font-family: 'Alegreya Sans', sans-serif;
}
@media only screen and (min-width: 319px){
    h4{
        font-size: 28px;
    }
    .publish-space .article p{
        font-size: 1.4rem;
    }
    .publish-space h5 {
        font-size: 20px;
        font-weight: 500;
    }
    .publish-space .indent {
        margin-left: 40px;
    }
}
/*==citation space==*/
.citation {
    margin-top:0;
    margin-bottom: 30px;
}
.citation h3{
    font-size: 24px;
}
.citation p{
    font-size: 10px;
}
/*======share buttons======*/
.share-buttons {
    display: block;
    text-align: center;
}
.share-buttons a{
    display: block;
    position: relative;
    vertical-align: middle;
}

.share-buttons .btn-fb {
    background-color: #3B5998;
    text-transform: uppercase;
}

.share-buttons .btn-tweet {
    background-color:#55acee;
    text-transform: uppercase;
}

.share-buttons .btn-linkedin {
    background-color: #0077B5;
    text-transform: uppercase;
}

.share-buttons a, .share-button a:hover, .share-button a:focus {
    color: #ffffff;
}
/*=====Table of Contents=====*/
.highlight{
    border-left: 5px solid red;
}
.highlight a{
    text-decoration: none;
}
.panel-fixed{
    position:fixed;
    top:60px;
}
.table-of-contents a.active, .table-of-contents a:hover {
        border-left: none !important;
        font-weight: 300;
        padding-left:20px;
}
/*Comment Section*/
.userName{
    font-weight: 600;
    font-size:18px;
}
.commentDiv{
    padding:15px !important;
    border: 1px solid #EEEEEE;
    border-radius: 6px;
}
.commentSection{
    margin-left: 15px;
    background-color:#EEEEEE;
    border-radius: 3px;
}