body{
    background-image: url('../img/subtle_white_feathers.png');
    background-repeat: repeat;
}
nav .brand-logo{
    font-family: 'Playfair Display', serif;
    color:#000;
    font-size: 75px;
    line-height: 77%;
}
nav {
    height: 125px;
}

nav a {
    color:#000;
}
nav ul a{
    color:#000;
}

h1{
    margin:10px auto;
    font-family: 'Playfair Display', serif;
}
.display-area{
    border-radius: 14px;
    margin-top:15px;
    margin-bottom:15px;
    padding-bottom: 15px;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
#topic-title{
    height:130px;
}
.about{
    font-size: 2rem;
}
.button-space{
    margin: 40px 0;
    border-right: 2px solid gray;
}
.button-space-mobile{
    display:none;
}
@media (min-width: 0) and (max-width: 737px){
    .button-space-mobile{
        display:block;
        margin-top: 16px;
    }
    .button-space-mobile .btn-floating.btn-large{
        display: block;
        margin: 0 auto;
        width: 50px;
        height: 50px;
    }
    .button-space-mobile .icon-img {
        width:35px;
        margin-top:7px;
    }
    .button-space-mobile p{
        font-size: 11px;
        font-weight: 600;
        text-align: center;
    }
    .button-space{
        display:none;
    }
    h1{
        font-size: 3.2rem;
    }
}
.buttons{
    margin-top:-90px;
}
ul.buttons{
    margin: 0 auto;
    display: table;
    position: relative;
}
.buttons li{
    margin:0 auto;
    position: relative;
    display: block;
}
.buttons p {
    margin:0 auto;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}
.btn-floating.btn-large{
    width:80px;
    height: 80px;
}
.icon-img {
    width:50px;
    margin-top:14px;
}
.buttons a{
    margin:10px auto;
}
.card{
    max-width: 700px;
    margin-right:40px;
    margin-left: 25px;
}
.card .card-image img{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.main-article-title{
    font-family: 'Poiret One', cursive;
    width: 100%;
    z-index: 100000;
    position: relative;
    display: block;
    margin-top: -155px;
    background-color: rgba(0, 0, 0, 0.47);
    color: #fff;
    font-weight: bold;
    font-size: 33px;
    padding: 24px 10px;
    text-align: center;
}

#econContent, #techContent, #devContent, #premedContent{
    display:none;
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 150px;
    line-height: 64px;
    }
    nav .brand-logo{
    font-size: 90px;
}
}
@media (min-width: 0px) and (max-width: 737px){
    nav .brand-logo{
        font-size:54px;
        margin-top:30px;
    }
    #topic-title{
        height:auto;
    }
    .card {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
    .main-article-title{
        margin-top: -75px;
        font-size: 20px;
        padding: 5px 2px;
    }
}
