nav .brand-logo{
    font-family: 'Playfair Display', serif;
    color:#000;
    font-size: 75px;
    line-height: 77%;
}
nav {
    height: 125px;
}

nav a {
    color:#000;
}
nav ul a{
    color:#000;
}
main {
    margin-top:25px;
}
h1{
    margin:10px auto;
    font-family: 'Playfair Display', serif;
}
#topic-title{
    height:130px;
}
.about{
    font-size: 2rem;
}
.buttons{
    margin-top:-90px;
}
ul.buttons{
    margin: 10px auto 10px auto;
    display: table;
    position: relative;
}
.buttons li{
    margin:0 auto;
    position: relative;
    display: block;
}
.buttons p {
    margin:0 auto;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}
.btn-floating.btn-large{
    width:100px;
    height: 100px;
}
.icon-img {
    width:70px;
    margin-top:8px;
}
.buttons a{
    margin:10px auto;
}
.card{
    max-width: 700px;
}
.main-article-title{
    font-family: 'Poiret One', cursive;
    width: 100%;
    z-index: 100000;
    position: relative;
    display: block;
    margin-top: -155px;
    background-color: rgba(0, 0, 0, 0.47);
    color: #fff;
    font-weight: bold;
    font-size: 33px;
    padding: 24px;
    text-align: center;
}

#econContent, #techContent, #devContent, #premedContent{
    display:none;
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 150px;
    line-height: 64px;
    }
    nav .brand-logo{
    font-size: 90px;
}
}
