nav .brand-logo{
    font-family: 'Playfair Display', serif;
    color:#000;
    font-size: 75px;
    line-height: 77%;
}
nav {
    height: 125px;
}

nav a {
    color:#000;
}
nav ul a{
    color:#000;
}
main {
    margin-top:25px;
}
.about{
    font-size: 2rem;
}
.btn-floating.btn-large{
    width:100px;
    height: 100px;
}
.icon-img {
    width:70px;
    margin-top:8px;
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 150px;
    line-height: 64px;
    }
    nav .brand-logo{
    font-size: 90px;
}
}
